<header class="heading">
  <h1 class="togethring">Togethring</h1>
</header>
<!--  -->
<!-- <div class="mainDiv" cdkDrag>
<div class="videoClass"  > -->

<!-- <div class="imageDiv"  >
    <img class="PicClass" src="https://thumbs.dreamstime.com/z/big-lion-lying-savannah-grass-landscape-characteristic-trees-plain-hills-background-35172905.jpg"
     alt="lion"/>
  </div>   -->
<!-- <span style="display: flex; justify-content: space-around;">
    <mat-icon >visibility</mat-icon>
    <span style="color:orange">{{listenCount}}</span>
  </span> -->

<!-- <audio #audioPlayer controls hls class="video-js vjs-big-play-button vjs-volume-panel ">
    </audio> -->
<!-- <span>
      <button (click)="togglePlayPause()" [ngClass]="{ 'playing': isPlaying, 'paused': !isPlaying }">
        {{ isPlaying ? '⏸': '▶' }}
      </button>
    </span> -->

<!-- </div>
</div> -->
<div style="display: flex; justify-content: center; margin: 20px">
  <div class="mainAudioDiv" cdkDrag>
    <div class="eyeBtnAndCloseBtn">
      <div>
        <span style="display: flex; justify-content: space-around">
          <mat-icon>visibility</mat-icon>
          <span style="color: white">{{ listenCount }}</span>
        </span>
      </div>
      <div>
        <mat-icon>close</mat-icon>
      </div>
    </div>

    <div class="imgPlayPauseBtnDiv">
      <div class="imageDiv">
        <img
          class="PicClass"
          src="https://thumbs.dreamstime.com/z/big-lion-lying-savannah-grass-landscape-characteristic-trees-plain-hills-background-35172905.jpg"
          alt="lion"
        />
      </div>

     

      <div  #playerContainer class="playPauseBtn">

        <button mat-icon-button (click)="play()">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="pause()">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>

        <!-- <button
      (click)="togglePlayPause()"
      [ngClass]="{ playing: isPlaying, paused: !isPlaying }"
    >
      {{ isPlaying ? <mat-icon>play_circle_outline</mat-icon> : <mat-icon>pause_circle_outline</mat-icon>}}
    </button>
         -->
      </div>
      <div></div>
     
    </div>
    <div style="display: flex; justify-content: center;width: 98%;">
    <input
    (click)="getProgress()" 
    style="width: 98%;"

    type="range"
    
  />
</div>

    <div class="restThreeIcon">
      <div><mat-icon>supervisor_account</mat-icon></div>
      <div><mat-icon>lock_open</mat-icon></div>
      <div><mat-icon>sentiment_very_satisfied</mat-icon></div>
    </div>
  </div>
</div>

